<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value="Data Source=10.1.84.40\qaPerAndLearning;Initial Catalog=PerfAndLearning;User ID=sqluser;Password=sqluser;Connection Timeout=0"/>
  <add key="url" value="https://executeautomation.com/"/>
  <add key="APIUrl" value="https://10.1.84.42:8402/"/>
</appSettings>

