<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SQLConnectionString" value="Data Source=10.1.84.40\qaPerAndLearning;Initial Catalog=PerfAndLearning;User ID=root;Password=password;Connection Timeout=0"/>
  <add key="url" value="http://executeautomation.com/blog/"/>
  <add key="APIUrl" value="http://10.1.84.42:8225/"/>
</appSettings>